{% extends "base.html" %}

{% block title %}Home - Freedom Website{% endblock %}

{% block content %}
<h1 id="freedom-chart">Democracy and Freedom Around the World</h1>
<p>Here's the state of freedom worldwide:</p>
<div class="chart">
  <a href="https://www.statista.com/chart/12541/the-state-of-freedom-worldwide/" title="Infographic: The State of Freedom in the World | Statista">
    <img src="https://cdn.statcdn.com/Infographic/images/normal/12541.jpeg" alt="Infographic: The State of Freedom in the World | Statista" style="width: 100%; height: auto !important; max-width: 960px; -ms-interpolation-mode: bicubic;">
  </a>
</div>
{% endblock %}
