{% extends "base.html" %}

{% block title %}Welcome - Freedom Website{% endblock %}

{% block content %}
<h1 id="freedom-chart">Welcome and get Ready to Explore the Democracy and Freedom Around the World</h1>
<p>Here's the state of freedom worldwide:</p>
<div class="chart">
    <a href="https://www.statista.com/chart/12541/the-state-of-freedom-worldwide/" title="Infographic: The State of Freedom in the World | Statista">
        <img src="https://cdn.statcdn.com/Infographic/images/normal/12541.jpeg" alt="Infographic: The State of Freedom in the World | Statista" style="width: 100%; height: auto; max-width: 960px; -ms-interpolation-mode: bicubic;">
    </a>
</div>

<div class="top-countries">
    <h2>Top 10 Freest Countries</h2>
    <ul class="country-list">
        <li>Finland: 100</li>
        <li>New Zealand: 99</li>
        <li>Sweden: 99</li>
        <li>Norway: 98</li>
        <li>Luxembourg: 97</li>
        <li>Ireland: 97</li>
        <li>Denmark: 97</li>
        <li>Canada: 97</li>
        <li>San Marino: 97</li>
        <li>Netherlands: 97</li>
    </ul>
</div>

<hr class="divider">

<div class="explore-section">
    <h2>Explore How Free Countries Were in the Past 10 Years</h2>
    <p>Find out right here!</p>
    <a href="{{ url_for('render_dash') }}" class="btn">Explore Freedom Trends</a>
</div>

<hr class="divider">

<div class="explore-section">
  <h2>Explore More Data Visualizations on Freedom</h2>
  <p>Do you want to learn more about the freedom of elections, and how human rights and child mortality correlate with an electoral democracy?</p>
  <a href="{{ url_for('charts_page') }}" class="btn">Explore More Data</a>
</div>

<hr class="divider">

<div class="bottom-image-container">
  <img src="{{ url_for('static', filename='vote.png') }}" alt="Vote Image" class="bottom-image">
  <div class="overlay-text">
      <h2>Your Vote Matters!</h2>
      <p>Make your voice heard on june 6th-9th in the upcoming European elections. Every vote counts in shaping our future.</p>
      <a href="https://elections.europa.eu/" class="btn">Learn More About the Elections</a>
  </div>
</div>
{% endblock %}
